# Игнорирование файлов с расширением tmp
tmp/

# Игнорирование файлов заканчивающихся суффиксами _old, _backup
**/*_old
**/*_backup

# Игнорирование файла Thumbs.db
Thumbs.db

# Игнорирование файлов .DS_Store
*.DS_Store
